<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brand mr-5" href="#" id="cake-menu" data-toggle="dropdown">
                Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-menu">
                <a href="" class="dropdown-item">Buttercream</a>
                <a href="" class="dropdown-item">Drip Cakes</a>
                <a href="" class="dropdown-item">Cupcakes</a>
                <a href="" class="dropdown-item">All Cakes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brand mr-5" href="#" id="occasions-link" data-toggle="dropdown">
                Occasions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="" class="dropdown-item">Birthdays</a>
                <a href="" class="dropdown-item">Anniversaries</a>
                <a href="" class="dropdown-item">Christenings</a>
                <a href="" class="dropdown-item">All Occasions</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brand mr-5" href="#" id="accessories-link" data-toggle="dropdown">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Candles</a>
                <a href="" class="dropdown-item">Toppers</a>
                <a href="" class="dropdown-item">Balloons</a>
                <a href="" class="dropdown-item">Banners</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brand" href="#" id="specials-link" data-toggle="dropdown">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Gift Vouchers</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>